# Tidy Data in Python

In [1]:
import pandas as pd
import datetime
import re

In [2]:
%load_ext watermark

In [3]:
#%watermark

In [4]:
%watermark -w -v -u -n -t -z -m -p pandas,datetime,re --iso8601 -a "Mantej Singh"

Mantej Singh
last updated: Tue Apr 04 2017 13:25:27 Eastern Daylight Time2017-04-04T13:25:27-04:00

CPython 3.5.2
IPython 5.1.0

pandas 0.19.0
datetime n
re 2.2.1

compiler   : MSC v.1900 32 bit (Intel)
system     : Windows
release    : 7
machine    : AMD64
processor  : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
CPU cores  : 4
interpreter: 32bit
watermark 1.3.4

In [5]:
df=pd.read_csv('data\pew-raw.csv')

In [6]:
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [35]:
new_df=pd.melt(df,["religion"],var_name="income_range",value_name="freq")

In [36]:
new_df=new_df.sort_values(["religion"])

In [37]:
new_df[:3]

    religion income_range  freq
0   Agnostic        <$10k    27
30  Agnostic      $30-40k    81
40  Agnostic      $40-50k    76

### Sorting the index

In [40]:
new_df=new_df.reset_index(drop='True')

In [42]:
#new_df=new_df.drop('index', axis=1).reset_index(drop='True')

In [44]:
new_df.head()

   religion income_range  freq
0  Agnostic        <$10k    27
1  Agnostic      $30-40k    81
2  Agnostic      $40-50k    76
3  Agnostic      $50-75k   137
4  Agnostic      $10-20k    34